.App{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
body {
    background-color: rgb(245, 245, 245);
}
.Spacer {
    flex-grow: 1;
}